<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<property name="APP_HOME" value="/home/cg/gateway_v1" />
	<property name="LOGS" value="${APP_HOME}/log" />
	<appender name="RollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOGS}/cg-gateway-v1.log</file>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<charset>UTF-8</charset>
			<pattern>%d %p [%t] %m%n</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>${LOGS}/cg-gateway-v1-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			<maxFileSize>1MB</maxFileSize>
			<totalSizeCap>10MB</totalSizeCap>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
	</appender>
	<root level="warn">
		<appender-ref ref="RollingFile" />
	</root>
	<logger name="ru.rzd.skc.integration" level="info" additivity="false">
		<appender-ref ref="RollingFile" />
	</logger>
</configuration>